$color-primary: blue; 
$color-secondary: green;
$background-color: #000;

%boton {
    font-size: 32px;
    border-radius: 15px;
}

.button {
    @extend %boton;
}

.button- {
    &primary{
        color: gray;
        /*@extend %button;*/
    }

    &secondary{
        color: red;
        /*@extend %button;*/
    }
     
}