body{
    background-image: url(/MiArtistaFavorito/static/bgImage.jpg); 
    margin: 0;
    position: absolute;
}

.firstSong{
    padding: 1px;
    border-radius: 600px; 
    position: absolute;
    right: 20px;
    margin-top: 10px;
    z-index: 100;
}

.container {
    background-color: #CCBB9F;
    width: 80%;
    margin: 1% auto;
    padding-top: 4%;
    font-family: 'Comic Neue', cursive;
    border-radius: 4px;
}

.divheader{
    text-align: center;
}

header{
    z-index: 100;
    position: relative;

}

.div-navbar{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background-color: black;
    top: 0;
    margin: 0 auto;
}

.section-nav{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    margin:0 auto;
    color: #CCBB9F !important;
}

.firstImg {
    max-width: 100%;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: justify; 
}

.titulos-h1 {
    font-weight: bolder;
    color: #291705;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.section-nav, .section-biography, .section-discography, .section-bestsongs {
    color: #5a4118;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    text-decoration: none;
}

.section-members{
    margin: 0;
    color: #5a4118;
}

.list-members{
    list-style: none;
    text-align: left;
    display: inline;
}

.list-members li::before {
    content: "\1F399";
    font-size: 20px;
    color: black;    
}

.divDiscography{
    text-align: center;
    padding: 8px; 
    display: inline;
}

.imag{
    border: 2px solid black;
    border-radius: 10px;
}

.topSongs, .song{
    max-width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 4px;
    border-radius: 10px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    background: black;
    color: white;
}

.fa-spotify {
    background: black;
    color: white;
}

.fa-facebook {
    background: black;
    color: white;
}

.fa-instagram {
    background: black;
    color: white;
}

.fa-web{
    width: 38px;
    height: 39px;
    border-radius: 50%;
    top: 7px;
    position: relative;
    margin: 0 auto;
    right: 5px;
}

.fa-github {
    margin: 0 auto;
    color: black;
}

.container-websites{
    line-height: 1rem;
    text-align: right;
    flex-wrap: wrap; 
}

.container-footer{
    text-align: right;
    max-width: 100%;
    justify-content: space-between;
    padding-right: 2px;
}

footer::before{
    content: "\00A9";
    font-size: 18px;
}

.up{
    position: fixed;
    bottom: 15px;
    left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CCBB9F;
}

.up a{
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

@media(max-width:600px){
    .firstSong{
        right: 2px;
        transform: ;
    }  
}

@media (max-width:1200px){
    .firstSong{
        right: 2px;
   } 
}