body{
    background-image: url(/MiArtistaFavorito/static/bgImage.jpg); 
    margin: 0;
}

.firstSong{
    padding: 1px;
    border-radius: 600px; 
    position: absolute;
    right: 20px;
    margin-top: 8px;
}

.container {
    padding: 0.5%;
    background-color: #CCBB9F;
    width: 80%;
    margin: 1% auto;
    padding-top: 4%;
    font-family: 'Comic Neue', cursive;
    border-radius: 4px;
}

.divheader{
    text-align: center;
}

.firstImg {
    max-width: 100%;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: justify; 
}

.titulos-h1 {
    font-weight: bolder;
    color: #291705;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.section-biography, .section-discography, .section-bestsongs {
    color: #5a4118;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.section-members{
    margin: 0;
    color: #5a4118;
    text-align: justify;

}

.list-members{
    list-style: none;
    text-align: left;
}

li::before {
    content: "\1F399";
    font-size: 20px;
    color: black;    
}

.divDiscography{
    text-align: center;
    padding: 8px; 
}

.imag{
    border: 2px solid black;
    border-radius: 10px;
}

.topSongs, .song{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 4px;
    border-radius: 10px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    background: black;
    color: white;
}

.fa-spotify {
    background: black;
    color: white;
}

.fa-facebook {
    background: black;
    color: white;
}

.fa-instagram {
    background: black;
    color: white;
}

.fa-web{
    width: 40px;
    height: 36px;
    border-radius: 50%;
}

.fa-github {
    margin: 0 auto;
    color: black;
}

.container-websites{
    line-height: 1rem;
    text-align: right;
    flex-wrap: wrap; 
    /*border: 3px solid green;*/
}

.container-footer{
    /*border: 1px solid red;*/
    text-align: right;
    max-width: 100%;
    justify-content: space-between;
}

footer::before{
    content: "\00A9";
    font-size: 18px;
}